{% extends 'base.html.twig' %}

{% block title %}StuffImage index{% endblock %}

{% block body %}
    <h1>StuffImage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>ImageSize</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stuff_image in stuff_images %}
            <tr>
                <td>{{ stuff_image.id }}</td>
                <td>{{ stuff_image.imageName }}</td>
                <td>{{ stuff_image.imageSize }}</td>
                <td>{{ stuff_image.updatedAt ? stuff_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('stuff_image_show', {'id': stuff_image.id}) }}">show</a>
                    <a href="{{ path('stuff_image_edit', {'id': stuff_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stuff_image_new') }}">Create new</a>
{% endblock %}
